<div class="recherche-client">
    <h2>RECHERCHE CLIENTS</h2>
    <div class="search-section">
      <h3>Par identifiant</h3>
      <input type="text" placeholder="Identifiant client">
      <button>Rechercher</button>
    </div>
    <div class="search-section">
      <h3>Par Multi-Critères</h3>
      <input type="text" placeholder="Nom (ou partie) du client">
      <input type="text" placeholder="Prénom (ou partie) du client">
      <input type="text" placeholder="Date de naissance au format JJ/MM/AAAA">
      <button>Rechercher</button>
    </div>
  </div>
  